#!/bin/bash

# Environment variables for the Content Update Bot
BOT_HOME=/home/vincent/Documents/Code/BotBlogScraper
BOT_VENV=$BOT_HOME/venv
BOT_STORAGE_PATH=$BOT_HOME/storage
BOT_LOG_PATH=$BOT_HOME/bot.log
PYTHONPATH=$BOT_HOME